* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: calc(1640px + 80px);
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 100%;
}